In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = [1, 2, 3])

In [6]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [10]:
df[["a","b"]]

   a  b
1  4  7
2  5  8
3  6  9

In [14]:
df.loc[1]

a     4
b     7
c    10
Name: 1, dtype: int64

In [12]:
df.loc[3,"a"]

6

In [15]:
df.loc[[1,2],["a","c"]]

   a   c
1  4  10
2  5  11

In [16]:
df = pd.DataFrame(
    [[4, 7, 10],
    [5, 8, 11],
    [6, 9, 12]],
    index=[1, 2, 3],
    columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [19]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)],
        names=['n','v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

- and : &
- or : |
- not : ~
- xor : ^
- any : df.any()
- all : df.all()