In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({'A': range(1,11), 'B': np.random.randn(10)})
df

    A         B
0   1  0.179989
1   2  0.143211
2   3  0.379131
3   4 -0.514839
4   5  0.677337
5   6  0.359654
6   7 -0.971028
7   8 -1.355126
8   9 -0.975198
9  10  0.033404

In [9]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1  0.179989  0.000000
1  2  0.143211  0.693147
2  3  0.379131  1.098612
3  4 -0.514839  1.386294
4  5  0.677337  1.609438

In [12]:
df['ln_A'] = np.log(df.A)
df

    A         B      ln_A
0   1  0.179989  0.000000
1   2  0.143211  0.693147
2   3  0.379131  1.098612
3   4 -0.514839  1.386294
4   5  0.677337  1.609438
5   6  0.359654  1.791759
6   7 -0.971028  1.945910
7   8 -1.355126  2.079442
8   9 -0.975198  2.197225
9  10  0.033404  2.302585

In [23]:
pd.qcut(df.B, 3, labels=["small","medium","big"])

0    medium
1    medium
2       big
3     small
4       big
5       big
6     small
7     small
8     small
9    medium
Name: B, dtype: category
Categories (3, object): ['small' < 'medium' < 'big']

In [15]:
df.max(axis=1)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [16]:
 df.max(axis=0)

A       10.000000
B        0.677337
ln_A     2.302585
dtype: float64

In [17]:
 df.min(axis=0)

A       1.000000
B      -1.355126
ln_A    0.000000
dtype: float64

In [20]:
df["A"].clip(lower=2,upper=5)

0    2
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

In [21]:
df["B"].clip(lower=1,upper=3)

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
Name: B, dtype: float64

In [22]:
df.B.abs()

0    0.179989
1    0.143211
2    0.379131
3    0.514839
4    0.677337
5    0.359654
6    0.971028
7    1.355126
8    0.975198
9    0.033404
Name: B, dtype: float64